@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");
/* fonts: 'big shoulders inline' 'big shoulders' */

body {
  background-color: rgb(87, 156, 184);
  font-family: "big shoulders", Arial;
  font-size: 16px;
  font-weight: 600;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/******** CONTAINER ********/
@media only screen and (min-width: 0px) {
  .container {
  }
}

/****** START ******/
@media only screen and (min-width: 0px) {
  .start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    height: 100vh;

    opacity: 100%;
    transition: all 0.25s ease-out;
  }

  .start-title {
    font-family: "big shoulders inline";
    font-size: 12em;
    font-weight: 800;
    letter-spacing: -4px;
  }

  .start-option {
    background-color: white;
    font-size: 2em;
    text-align: center;

    padding: 20px;
    width: 200px;

    border-radius: 20px;
  }

  .start-option:hover {
    cursor: pointer;
    filter: brightness(90%);
  }
}

/****** START GAME BUTTON ******/
@media only screen and (min-width: 0px) {
  
}

/****** MATCH ******/
@media only screen and (min-width: 0px) {
  .match {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    padding-bottom: 50px;

    opacity: 0%;
    transition: all 0.25s ease-in;
  }

  .game-area {
    display: flex;
    gap: 100px;
  }
}

/**** BOARD ****/
@media only screen and (min-width: 0px) {
  .game-prep {
    text-align: center;
    height: 0px;

    transition: all 0.5s;
  }
  
  .prepare {
    position: relative;
    top: 0px;

    font-size: 3em;
  }

  .start-game {
    background-color: darkred;

    position: relative;
    top: 20px;

    color: white;
    font-size: 2em;

    width: fit-content;
    margin: 0 auto;
    padding: 10px 15px;

    border-radius: 20px;
    transition: all 0.5s;
  }

  .start-game:hover {
    cursor: pointer;
    background-color: green;
  }

  .message {
    visibility: hidden;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    
    transition: all 0.5s;
  }

  .board-title {
    font-size: 3em;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 15px;
  }

  .board-grid {
    z-index: 1;
    background-color: skyblue;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;

    transition: all 0.5s;
  }

  .row {
    z-index: inherit;
    display: flex;
  }

  .box {
    z-index: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid skyblue;

    transition: all 0.5s;
  }
  
  .inside-grid {
    background-color: white;

    transition: all 0.5s;
  }

  .inside-grid:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  .indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
  }

  .ferry,
  .target {
    position: relative;
    z-index: -1;

    display: flex;
    justify-content: center;
    transition: all 0.5s;
  }

  .ferry {
    left: 25px;
  }

  .target {
    right: 25px;
  }

  .ferry-image,
  .target-image {
    width: 50px;
  }

  .eye {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    transition: all 0.5s;
  }

  .eye-image {
    position: relative;
    width: 50px;
    opacity: 20%;

    transition: all 0.5s;
  }

  .eye-image:hover {
    cursor: pointer;
    opacity: 100%;
  }

  .eye-closed {
    content: url('../images/eye-closed.svg');
  }

  .eye-opened {
    opacity: 100%;
    content: url('../images/eye-outline.svg');
  }

  .randomize {
    position: relative;
    bottom: -12px;

    background-color: white;
    font-size: 1.5em;

    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;

    border-radius: 20px;

    transition: all 0.5s;
  }

  .randomize:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  .reminder {
    position: relative;
    bottom: 90px;

    font-size: 1.2em;
    
    opacity: 0%;
    transition: all 0.5s;
  }
}
